@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import 'tailwindcss';

:root {
  --color-primary: #e94057;
  --color-background: #f7f7f7;
  --color-text: #1a1a2e;
  --color-text-muted: #6b7280;
  --color-border: #e5e7eb;
	--color-error: #dc2626;
  --font-primary: 'Fraunces', serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
}

button {
  @apply cursor-pointer text-sm;
}

input,
select,
textarea {
  @apply text-sm focus:outline-none;
}

::selection {
	@apply bg-(--color-primary)/80 text-white;
}
