# ========================
# Database
# ========================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=matcha_db
POSTGRES_PORT=5432

# ========================
# Server
# ========================
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
CLIENT_URL=http://localhost:5173

# JWT
# Generate a random 256-bit secret using: openssl rand -hex 32
JWT_SECRET=61b011060fe198781b5faf378acdb08990a0404e8d9f24e2f5f22ff0f9226488
JWT_EXPIRES_IN=7d

# Email
SMTP_HOST=matcha_mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=noreply@matcha.1337.ma

# Google OAuth
GOOGLE_CLIENT_ID=119891766379-7jo5ndekftrtjiej4vg150vdhnrl4bmg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# 42 OAuth
FORTYTWO_CLIENT_ID=u-s4t2ud-6a2d63c4e743f0847053d6101134ca28948b625a67b2b950be56521b6e40eac9
FORTYTWO_CLIENT_SECRET=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
FORTYTWO_CALLBACK_URL=http://localhost:3000/api/auth/42/callback
