# ========================
# Database
# ========================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=matcha_db
POSTGRES_PORT=5432

# ========================
# Server
# ========================
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
